{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
     <h1>{{user.username}}</h1>
     <div>
         {% for post in posts %}

         


         {% endfor %}
     </div>
</div>

<table>
    
    <tr>
        <td class="profile_title">학번</td>
        <td class="profile_content">{{ user.student_id|default:'작성안함' }}</td>
    </tr>
    <tr>
        <td class="profile_title">학년</td>
        <td class="profile_content">{{ user.grade|default:'선택안함' }}</td>
    </tr>
    <tr>
        <td class="profile_title">학과</td>
        <td class="profile_content">{{ user.department|default:'선택안함' }}</td>
    </tr>
</table>

{% endblock %}
